/*Este é um comentário*/
:root {
    --CorDaLetraCaixa1:
}

body{
    /*nomeada*/
    background-color: hotpink;
    color:
}

.caixa1{
    /*nomeada*/
    background-color: black;
}

.caixa2{
    /*Rbg*/
    background-color: darkmagenta;
}

.caixa3{
    /*hls*/
    background-color: coral;
}

